.container-menu{
    display: flex;
    background-color: #2F3640 !important;
    border: none !important;
    outline: none !important;
}

.menu {
    background-color: #DCDDE1;
    padding: .5rem 1rem;
    font-style: italic;
}

.menu:hover {
    background-color: #f5f6fa;
}