:host{
    background: #2F3640 !important;
    display: block;
    height: 739px;
    padding: 1rem;
    overflow: hidden;
}

.container-app {
    height: 700px;
    background-color: #f5f6fa;
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
}

